{% extends "base.html" %}

{% load static%}


{% block css%}
<link  href={% static "css/list.css"%} rel="stylesheet">
{% endblock%}



{% block content%}

<h2>
    Django TodoList

</h2>

<div class="container">
        

    <div class="todoapp">


            <form  method="POST" action=''>
                        
                {% csrf_token %}
                        <div>

                                <input type="text" name='task' id="input-box" placeholder="Add your Task" >
                        
                        </div>

                        <div>

                            <input type="submit" class='button'>
                        </div>
                            
                        
                            
            </form>


    {% for i in task%}
                    
            <div class='outer'> 

                        {% if i.complete == True%}

                                <div>
                                        
                                        <ul>
                                            
                                            <strike>
                                                
                                                <li>{{i}}</li> 
                                            
                                            </strike>

                                </div>
                                            
                        {% else %}


                                <div>
                                            
                                    <ul>
                                        
                                        <li>{{i}}</li> 
                                    
                            
                                    </ul>
                                
                                </div>

                        {% endif%}


                                <div>

                                                        
                                        <div class='bottons'> 
                                                    
                                                            
                                                    <div>
                                                    
                                                        <button id='delup1' ><a href={% url 'delete' i.id%} >Delete</a></button>
                                                    
                                                    </div>

                                                    

                                                    <div>
                                                    
                                                        <button id='delup2' ><a href={% url 'update' i.id%}> Update </a> </button>
                                                    
                                                    </div>
                                    <br><br>

                                         </div>       
                
                            </div>

                </div>




    {% endfor %}









    <div>

<div>



{% endblock%}


